.form {
  position: relative;
}
.button {
  z-index: 2;
  position: absolute;
  top: 0;
  border-radius: 30px;
  right: 0;
  transform: translate(-2px, 2px);
}
.input {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  padding: 0.5rem 1rem;
  border: 1px solid #eee;
  outline: none;
  font-size: 1.4rem;
  width: 100%;
}
.input::placeholder {
  opacity: 1;
  color: black;
  font-weight: 400;
}
.input:disabled {
  color: black;
}
